body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    border: 1px solid black;
}

.header {
    height: 150px;
    background: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-format-text {
    font-family: verdana;
    color: white;
    font-size: 40px;
}

.nav {
    height: 50px;
    background-color: #424242;
    display: flex;
    justify-content: center;
}

.nav-text-format {
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
    opacity: 0.8;
    color: white;
    text-decoration: none;
}

.nav-text-format:hover {
    background-color: hsl(135, 88%, 61%);
    cursor: pointer;
}

.left,
.right {
    width: 135px;
    min-height: 495px;
}

.left {
    background: green;
}

.main {
    flex: 1;
    background: #424242;
    color: white;
    padding: 20px;
}

.right {
    background-color: gray;
}

.footer {
    background: #424242;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover,
a:visited,
a:active {
    color: white;
}

.format-menu-aside {
    font-size: 18px;
    height: 15px;
    padding: 10px;
    border-bottom: 2px dotted #444444;
}

.format-menu-aside:hover {
    background-color: hsla(360, 0%, 50%, 1);
    color: white;
    cursor: pointer;
}
