* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr {
    color: blue
}    
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin-bottom: 10px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.title {
	color: #cc3300;
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.p-1 {
	font-family: verdana;
	padding-left: 30px;	
}

.links {
	font-family: verdana;
	text-align: center;
}

.h3-1 {
	font-family: Arial;
	font-weight: bold;
	color: #cc3300;
}

.text {
	font-family: verdana;
	font-size: 15px;
}

.ram-format {
	font-weight: bold;
}
