* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    overflow-x: hidden;
body {
	background-color: rgb(38, 38, 38);
}
.logo {
    width:35em;
}
nav { 
    background-color: rgb(94, 94, 94);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
	padding: 2em;
    position: relative;
}
ul {
	list-style-type: none;
	display: flex;
	width: 55%;
	justify-content: space-around;
}
a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    padding: .2em;
    color: var(--blue);
}
a::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    background-color: var(--blue);
    height: .15em;
    border-radius: 15px;
    transition: .3 ease-in-out;
}
a:hover::after {
    width: 100%;
}
.menu {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
